variables.json
*.retry
*.swp
*.json
ansible/gce.ini
terraform_/*
*.tfstate
terraform.ay/*
jdauphant.nginx
variables.tf
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
.notes
