variable project {
  description = "project"
  default     = "76357365756"
}

variable region {
  description = "Region"
  default     = "europe-west1"
}

variable private_key_path {
  description = ""
  default     = ""
}

variable public_key_path {
  description = "public_key_path"
  default     = ""
}

variable disk_image {
  description = "image"
  default     = "name"
}

variable zone {
  description = "Zone"
  default     = "zone"
}

variable instance_count {
  description = "instance count"
  default     = 1
}
